# docker-compose build
version: "3.8"

services:
  app:
    container_name: php
    build: ./docker/php
    volumes:
      - ./:/var/www

  web:
    container_name: nginx
    image: nginx
    ports:
      - 8000:8000
    volumes:
      - ./:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf

# .envファイルの「DB_HOST」とサービス名を合わせる
  db:
    image: mysql:latest
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: root
      # .envファイルの「DB_DATABASE」とMYSQL_DATABASEを合わせる
      MYSQL_DATABASE: test_db
      TZ: "Asia/Tokyo"
      # 文字コード指定
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - ./docker/db/data:/var/lib/mysql
      - ./docker/db/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./docker/db/sql:/docker-entrypoint-initdb.d
    ports:
      - 3306:3306

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=db
      - PMA_USER=root
      - PMA_PASSWORD=root
    links:
      - db
    ports:
    # コンテナのポートが4桁だとなぜか起動しない     
      - 8080:80
    volumes:
      - /sessions
  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - 1080:1080
