main{
    font-size: larger;
}

/* .edit-allpage{
    background-color: #C0A089;
} */

/*コメントトピック*/
.comment-topic{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
/*コメントテキスト*/
.comment-create-text{
    display: flex;
    justify-content: center;

}

/*コメントボタン*/
.comment-button{
    position:fixed;
    right:260px;
    bottom:90px;
}

.comment-icon{
    width: 27px;
    height: 27px;
}

.comment-now-btn{
    font-size: 20px;
    font-family: 'Itim', cursive;
    border: none;
    background: transparent;
    color: black;
}