.create-select-country{
    display: flex;
    justify-content: center;
    margin: 50px;
    font-family: 'Itim', cursive;
}

.create-select-country-question{
    margin-right: 130px;
    font-family: 'Itim', cursive;
    font-size: 20px;
}
#create-country{
    margin-left: 30px;
}



.create-select-picture{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.create-select-picture-question{
    margin-left: 490px;
    font-family: 'Itim', cursive;
    font-size: 20px;
}

#create-image{
    margin-right: 385px;
}

.create-write-caption{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.create-write-caption-question{
    margin-right: 32px; 
    font-family: 'Itim', cursive;  
    font-size: 20px;
}

#create-caption{
    margin-left: 32px;
}

main{
    background-color: white;
}

.create-post-button{
    position:fixed;
    right:240px;
    bottom:50px;
}