main{
    display: flex;
    justify-content: center;
    font-family: 'Itim', cursive;
    font-size: larger;
}



.edit-allpage{
    margin-top: 10px;
    border: 2px solid black; 
    width: 130%;

}


/*1*/
.icon-name-box{
    border-bottom: 1px solid black;
}
.icon-user-name{
    /* background-color: aqua; */
    display: flex;
    justify-content: left;
    padding-left: 0em;
    padding-bottom: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.edit-user-name{
    margin-bottom: 0px;
}

/*2*/
.country-box{
    border-bottom: 1px solid black;
}
.select-country{
    display: flex;
    justify-content: center;
}
#edit-country{
    margin-top: 15px;
    margin-bottom: 15px;
    outline: none;
    border: none;
}
/*3*/
.file-box{
    border-bottom: 1px solid black;
}
.change-pictures{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}
.edit-select-picture-question{
    margin-top: 15px;
}
.select-pictures{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.file{
    border: 1px solid black;
    padding: 0 20px 0 20px;
}


/*4*/
.edit-caption{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.write-caption{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    /* padding-bottom: 12px */
}


/*5*/
.edit-button{
    position:fixed;
    right:240px;
    bottom:50px;
}

.edit-icon{
    width: 27px;
    height: 27px;
}

.edit{
    outline: none;
    border: none;
    font-size: larger;
    background-color: transparent;
}