.row justify-content-cent {
    display: flex;
    justify-content: center;
    align-items: center;
}


.login-email {
    font-size: 20px;
    font-family: 'Itim', cursive;

}

.login-password {
    font-size: 20px;
    font-family: 'Itim', cursive;
}