*{
    margin: 0;
    padding: 0;
}


.top-main {
    height: 100vh;
    width: 100%;
    background-image: url(../images/top-maincover.png);
    background-size: cover;
   
}


.top-right{
    
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: transparent;
    


}

.top-right > a {
    color: black;
    font-size: 25px;
    margin: 30px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Itim', cursive;

}

.header-login-logo {
    height: 25px;
    width: 25px;
}

.header-register-logo {
    height: 25px;
    width: 25px;
}


.top-title {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 550px;
    font-family: 'Itim', cursive;
}

